<!DOCTYPE html>
<html>
    <head>
        <title>BeSafe! Tracer</title>
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            crossorigin="anonymous">
    </head>
    <body>
        <nav class = " navbar navbar-expand-lg navbar-dark bg-dark">
            <a class = "navbar-brand" href="#">Welcome to Be!Safe.</a>
        </nav> 
        <div class =" jumbotron">
            <div class = "container">
                <h1 class="display-4">Remeber to <strong>Be!Safe</strong>.</h1>
                <p class = "lead">Zarażeni dzisiaj : 6969</p>
            </div>
        </div>
        <div class="container">
            <p>Panel Admina</p>
            <p>Wyszukaj lokalizacje: </p>
            <p>//forms//</p>
        </div>
    </body>
</html>